@page "/User/{username}"

<div class="chatarea">
    <div class="message-list-box">
        <ul class="message-list">
            @foreach (var message in history)
            {
                <li class="message">
                    <span class="message-user" style="@($"color:{message.User.Color}")">@message.User.Username</span>
                    <span class="message-time">@message.Time</span>
                    <br />
                    <p class="message-content">@message.Content</p>
                </li>
            }
        </ul>
    </div>
    <div class="send-message">
        <textarea   placeholder="Ctrl+Enter to send"
                    @bind-value="messageInput"
                    @bind-value:event="oninput"
                    @onkeydown="@(async e =>
                    {
                        if (e.CtrlKey && e.Code == "Enter")
                            await Send();
                    })"
        />
        <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
    </div>
</div>

<div class="userlist-box">
    <ul class="user-list">
        <li class="userlist-title">
            ONLINE - @allusers.Count
        </li>
        @foreach (var user in allusers.OrderBy(e => e.Username))
        {
            <li class="user-list-item" style="@($"color:{user.Color}")">
                @user.Username
            </li>
        }
    </ul>
</div>
